<html>

<head>
    <title>搜索结果</title>
    <style>
        .center {
            margin: auto;
            padding: 30px;
        }
            
        </style>
</head>

<body style="width: 900px; margin: auto;">
    <div name="head">
        <h1 style="text-align: center; padding-top: 40px">北京林业大学</h1>
        <h3 style="text-align: center">景点信息修改</h3>
    </div>
    <div align="center" name="search_body" border="1">

        <div>
            <form action="{{url_for('admin_adjust_spot', i=old_data['id'])}}" method="post" enctype="multipart/form-data">
                <p>
                    名称：</p>
                <p>
                    <input type="text" name="name" id="" value="{{ old_data['name'] }}">
                </p>
                <p>
                    描述：</p>
                <p>
                    <textarea name="disc" id="disc" cols="30" rows="10">{{ old_data['disc'] }}</textarea>
                </p>
                <p>
                    功能：</p>
                <p>
                    <input type="text" name="func" id="" value="{{ old_data['func'] }}">
                </p>
                <p>多个功能用“、”分隔</p>
                <p>照片：</p>
                <p>
                    <input type="file" name="pic" id="">
                </p>
                <p>
                    <input type="submit" value="提交">
                </p>
            </form>
        </div>


        <div align="center" style="margin: 10 10 10 10">
        </div>

    </div>
    <div align="center" name="foot">
        <a href="{{url_for('admin_list')}}">返回</a>
        <br><br>
        <a href="{{url_for('info')}}">关于</a>
    </div>
</body>

</html>