<html>

<head>
    <title>搜索结果</title>
    <style>
        .center {
            margin: auto;
            padding: 30px;
        }
            
        </style>
</head>

<body style="width: 900px; margin: auto;">
    <div name="head">
        <h1 style="text-align: center; padding-top: 40px">北京林业大学</h1>
        <h3 style="text-align: center">景点管理系统 </h3>
    </div>
    <div align="center" name="search_body" border="1">

        <div>
            <h4>景点</h4>
            <table border="1" style="text-align: center">
                <tr>
                    <th>ID</th>
                    <th style="width:200px;">景点名称</th>
                    <th>-</th>
                </tr>
                {% for i in count%}
                <tr>
                    <td>
                        {{i}}
                    </td>
                    <td>
                        {{ spots[i-1][0] }}
                    </td>
                    <td><a href=""><button>点击编辑</button></a></td>
                </tr>
                </form>
                {% endfor %}
            </table>
            <h4><a href="{{ url_for('admin_add_spot') }}"><button>添加新景点</button></a></h4>
        </div>

        <div>
            <h4>路径</h4>
            <table border="1" style="text-align: center">
                <tr>
                    <th>-</th>
                    {% for i in count %}
                    <th>{{spots[i-1][0]}}</th>
                    {% endfor %}
                </tr>
                {% for j in count %}
                <tr>
                    <th>{{spots[j-1][0]}}</th>
                    {% for k in count %}
                        {% if mapt[j-1][k-1][0] == -1 %}
                        <td>-</td>
                        {% else %}
                        <td>
                            {{ mapt[j-1][k-1][0] }}米
                            <br>
                            <a href="">删除</a>
                        </td>
                        {% endif %}
                    {% endfor %}
                </tr>
                {% endfor %}
            </table>
            <h4>添加新路径</h4>
            <form action="{{ url_for('admin_add_paths') }}" method="post">
                从
                <select name="spot1" id="">
                    {% for spot in spots %}
                    <option value="{{spot[1]}}">{{spot[0]}}</option>
                    {% endfor %}
                </select>
                到
                <select name="spot2" id="">
                    {% for spot in spots %}
                    <option value="{{spot[1]}}">{{spot[0]}}</option>
                    {% endfor %}
                </select>
                <br>
                <br>
                距离
                <input type="text" name="dist" id="">
                米
                <br>
                <br>
                <input type="submit" value="提交">
            </form>
        </div>


        <div align="center" style="margin: 10 10 10 10">
        </div>

    </div>
    <div align="center" name="foot">
        <a href="{{url_for('info')}}">关于</a>
    </div>
</body>

</html>