<html>

<head>
    <title>搜索结果</title>
    <style>
        .center {
            margin: auto;
            padding: 30px;
        }
            
        </style>
</head>

<body style="width: 900px; margin: auto;">
    <div name="head">
        <h1 style="text-align: center; padding-top: 40px">北京林业大学</h1>
        <h3 style="text-align: center">景点管理系统 </h3>
    </div>
    <div align="center" name="search_body" border="1">

        <div>
            <h4>景点</h4>
            <table border="1" style="text-align: center">
                <tr>
                    <th style="width:200px;">景点名称</th>
                    <th>-</th>
                    <th>-</th>
                </tr>
                {% for spot in spots%}
                <tr>
                    <td>
                        {{ spot.name }}
                    </td>
                    <td><a href="{{ url_for('admin_adjust_spot', i=spot.id) }}"><button>点击编辑</button></a></td>
                    <td><a href="{{ url_for('admin_delete_spot', i=spot.id) }}"><button>点击删除</button></a></td>
                </tr>
                </form>
                {% endfor %}
            </table>
            <h4><a href="{{ url_for('admin_add_spot') }}"><button>添加新景点</button></a></h4>
        </div>

        <div>
            <h4>路径</h4>
            <table border="1" style="text-align: center">
                <tr>
                    <th>-</th>
                    {% for spot_1 in spots %}
                    <th>{{spot_1.name}}</th>
                    {% endfor %}
                </tr>
                {% for spot_2 in spots %}
                <tr>
                    <th>{{spot_2.name}}</th>
                    {% for spot_3 in spots %}
                        {% if spot_3.id not in spot_2.paths%}
                        <td>-</td>
                        {% else %}
                        <td>
                            {{ spot_2.paths[spot_3.id] }}米
                            <br>
                            <a href="{{ url_for('admin_delete_path', i=spot_2.id, j=spot_3.id) }}">删除</a>
                        </td>
                        {% endif %}
                    {% endfor %}
                </tr>
                {% endfor %}
            </table>
            <h4>添加新路径</h4>
            <form action="{{ url_for('admin_add_paths') }}" method="post">
                从
                <select name="spot1" id="">
                    {% for spot in spots %}
                    <option value="{{spot.id}}">{{spot.name}}</option>
                    {% endfor %}
                </select>
                到
                <select name="spot2" id="">
                    {% for spot in spots %}
                    <option value="{{spot.id}}">{{spot.name}}</option>
                    {% endfor %}
                </select>
                <br>
                <br>
                距离
                <input type="text" name="dist" id="">
                米
                <br>
                <br>
                <input type="submit" value="提交">
            </form>
        </div>


        <div align="center" style="margin: 10 10 10 10">
        </div>

    </div>
    <div align="center" name="foot">
        <a href="{{url_for('info')}}">关于</a>
    </div>
</body>

</html>