<html>

<head>
    <title>搜索结果</title>
    <style>
        .center {
            margin: auto;
            padding: 30px;
        }
            
        </style>
</head>

<body style="width: 900px; margin: auto;">
    <div name="head">
        <h1 style="text-align: center; padding-top: 40px">北京林业大学</h1>
        <h3 style="text-align: center">功能搜索结果</h3>
    </div>
    <div align="center" name="search_body" border="1">

        <div>
            <table border="1" style="text-align: center">
                <tr>
                    <th style="width:200px;">景点名称</th>
                    <th>-</th>
                </tr>
                <form action="{{url_for('operator')}}" method="post">
                    <tr>
                        <td>
                            图书馆
                        </td>
                        <td><input type="submit" name="oper" value="点击查看"></td>
                    </tr>
                </form>
            </table>
        </div>

        <div align="center" style="margin: 10 10 10 10">
        </div>

    </div>
    <div align="center" name="foot">
        <a href="{{url_for('search')}}">返回</a>
        <br>
        <br>
        <a href="{{url_for('info')}}">关于</a>
    </div>
</body>

</html>