<html>

<head>
    <title>课程查询</title>
    <style>
        .center {
            margin: auto;
            padding: 30px;
        }
            
        </style>
</head>

<body style="width: 900px; margin: auto;">
    <div name="head">
        <h1 style="text-align: center; padding-top: 40px">北京林业大学</h1>
        <h3 style="text-align: center">路径查询</h3>
    </div>
    <div align="center" name="search_body" border="1">
        <h4>从【{{ spots[i].name }}】到【{{ spots[j].name }}】</h4>
        <h3>最短路径</h3>
        <h4>
            {%for spot in Min_path[1]%}
            {{spots[spot].name}}
            {%endfor%}
            {{Min_path[0]}}
            </h4>
        <h3>全部路径</h3>
        {%for path in All_paths%}
        <p>
            {%for spot in path[0]%}
            {{spots[spot].name}}
            {%endfor%}
            {{path[1]}}
        </p>
        {%endfor%}
        <br>
    </div>
    <div align="center" name="search_body" border="1">
    </div>
    <div align="center" name="search_body" border="1">
        <form action="{{url_for('path_search')}}" method="post">
            <div>
                <P>
                    从
                    <select name="i">
                        {% for spot in spots.values() %}
                        <option value="{{spot.id}}">{{ spot.name }}</option>
                        {% endfor %}
                    </select>
                    到
                    <select name="j">
                        {% for spot in spots.values() %}
                        <option value="{{spot.id}}">{{ spot.name }}</option>
                        {% endfor %}
                    </select>
                    <input type="submit" value="继续搜索">
                </P>
            </div>
        </form>
    </div>
    <div align="center" name="foot">
        <br>
        <br>
        <a href="{{url_for('index')}}">返回</a>
    </div>
</body>

</html>