<html>

<head>
    <title>课程查询</title>
    <style>
        .center {
            margin: auto;
            padding: 30px;
        }
            
        </style>
</head>

<body style="width: 900px; margin: auto;">
    <div name="head">
        <h1 style="text-align: center; padding-top: 40px">北京林业大学</h1>
    </div>
    <div style="width: 300px;float: left; padding-top: 50px;">
        <h1>图书馆</h1>
        <h3>
            <p style="text-indent:2em">
                图书馆，是搜集、整理、收藏图书资料以供人阅览、参考的机构，早在公元前3000年就出现了图书馆，图书馆有保存人类文化遗产、开发信息资源、参与社会教育等职能。
                图书馆，是搜集、整理、收藏图书资料以供人阅览、参考的机构，早在公元前3000年就出现了图书馆，图书馆有保存人类文化遗产、开发信息资源、参与社会教育等职能。
            </p>
        </h3>
    </div>
    <div style="width: 500px;float: right;padding: 50px">
        <img src="test.png" alt="" width="400px">
    </div>
    <div>
        <h4>功能：学习|借书|喝咖啡</h4>
    </div>
    <a href="">返回</a>
</body>

</html>