<html>

<head>
    <title>课程查询</title>
    <style>
        .center {
            margin: auto;
            padding: 30px;
        }
            
        </style>
</head>

<body style="width: 900px; margin: auto;">
    <div name="head">
        <h1 style="text-align: center; padding-top: 40px">北京林业大学</h1>
    </div>
    <div style="width: 300px;float: left; padding-top: 50px;">
        <h1>{{ data.name }}</h1>
        <h3>
            <p style="text-indent:2em">
                {{ data.disc }}
            </p>
        </h3>
    </div>
    <div style="width: 500px;float: right;padding: 50px">
        <img src="/static/{{ data.name }}.png" alt="" width="400px">
    </div>
    <div>
        <h4>功能：
        {{ data.func }}
        </h4>
    </div>
    <a href="{{ url_for('index') }}">返回</a>
</body>

</html>